x{
    cursor: pointer;
}

.list-group-flush li {
    cursor:pointer  !important;
}
.list-group-flush li {
    border-top: 1px ;
}
.list-group-flush li {
    cursor:pointer  !important;
}
